:root {
    --pr-c: linear-gradient(#F75A5A, #FFA955);
    --se-c: #F75A5A;
    --po-c: #FFD63A;
    --fr-c: #FFA955;
    --d-c: #6DE1D2;

    --li-c: #ddd;
    --bd-c: #444;

    --w-c: #fff;
    --b-c: #000;
}


html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-size: 1.6rem;
}

.inner {
    max-width: 141rem;
    margin: 0 auto;
}


.flx {
    display: flex;

}

.flx>* {
    flex: 1;
}


.btn {
    display: inline-flex;
    align-items: center;
    padding: 0 2.4rem;
    height: 4rem;
    border: 1px solid var(--color);
    background: var(--color);
}

.btn.btn_web {
    color: var(--w-c);
}

.btn.btn_photo {
    color: var(--color);
    background: transparent;
}